defusedxml~=0.7.1
ipython~=9.3.0
numpy~=2.1.3
pillow~=11.0.0
jupyter~=1.1.1
pip~=25.1.1
attrs~=25.3.0
wheel~=0.41.2
protobuf~=5.29.5
filelock~=3.18.0
requests~=2.32.3
rich~=14.0.0
keras~=3.10.0
colorama~=0.4.6
ipywidgets~=8.1.7
notebook~=7.4.3
PyYAML~=6.0.2
typing_extensions~=4.14.0
MarkupSafe~=3.0.2
Werkzeug~=3.0.6
click~=8.2.1
Jinja2~=3.1.6
blinker~=1.9.0
itsdangerous~=2.2.0
charset-normalizer~=3.4.2
setuptools~=68.2.0
overrides~=7.7.0
cffi~=1.17.1
regex~=2024.11.6
sympy~=1.13.3
mpmath~=1.3.0
decorator~=5.2.1
#torch~=2.7.0+cpu
astunparse~=1.6.3
tensorboard~=2.19.0
optree~=0.16.0
tqdm~=4.67.1
tensorflow~=2.19.0
#torchvision~=0.22.0+cpu
psutil~=7.0.0
packaging~=25.0
opt_einsum~=3.4.0
networkx~=3.3
urllib3~=2.4.0
fsspec~=2025.5.1
certifi~=2025.4.26
idna~=3.10
tokenizers~=0.21.1
#torchaudio~=2.7.0+cpu
safetensors~=0.5.3
transformers~=4.52.4
huggingface-hub~=0.32.3
beautifulsoup4~=4.13.4
tf_keras~=2.19.0
h5py~=3.13.0